# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Logs
*.log

# Environment files
.env*.local

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Cache
.turbo
.cache

